/* Styles for screens with a minimum width of 1024px */
@media (min-width: 1130px) {
   
    .NavBar{
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns:500px 1fr;
        border-width: 1px 1px 10px 1px;
        border-style: solid;
        border-color: gray;
        
    }
    
    /*****Title and About us******/
    .Intro{
        grid-row: 1;
        border:none;
    }
    .Intro img{
        border: 1px solid black;
        grid-row: 1;
        grid-column: 1/4;
        margin-top: 10px;
        margin-left: 10%;
        /* margin-right: 10%; */
        margin-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        max-height: 150px;
        max-width: 700px;
        margin-top: 15px;
        
    }
    .Intro h4{
        grid-column: 4;
    }
    #AboutUs {
        grid-column: 4;
        text-decoration: underline;
        margin-bottom: 5px;
        /* margin-top: auto; */
    }
    #SpecialtySlogan{
        grid-row: 2;
        grid-column: 1/4;
        margin-top: 10px;
        
        /* margin-right: 10%; */
        
        height: 20px;
        
    }
    .Intro h4 {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    
    /*******"Nav Bar"*******/
    .Navigation{
        grid-row: 1;
        grid-column: 2/3;
        grid-gap: 4px;
    }
    .Navigation * {
        
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 1px;
        padding: 0px;
        text-decoration: underline;
        margin: 0 auto;
        padding-left: 6px;
        padding-right: 6px;
        width: 167px;
        
        
    }
    .Navigation:hover{
        cursor: pointer;
    }
    #AboutUs:hover {
        
        cursor: pointer;
        
    }



    /* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

#ContentManager{
    background-color: #D2D2CF;
    
} 

#testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
   
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.testimonial-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    max-height: 196px;
    text-align: center;
}

.textBoxWrapper-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 0;
    margin-bottom: 10px;
}

.testimonial-card h2 {
    font-size: 18px;
    margin: 0;
}

.testimonial-card p {
    font-size: 14px;
}

#IntegraHeader{
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border: 1px solid black;
}

}